<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="gambar/icon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style/style4.css" />

    <title>Jenis Padi</title>
  </head>

  <body>
     <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-xl">
            <a class="navbar-brand">
                <h3 style="color: green;">SiPadi</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item align-self-center active">
                        <a class="nav-link" href="/index.html">Home</a>
                    </li>

                    <li class="nav-item align-self-center active">
                        <a class="nav-link" href="/template/berita.html">Berita</a>
                    </li>

                    <li class="nav-item align-self-center active">
                        <a class="nav-link active" href="#jenis-padi">Jenis Padi</a>
                    </li>

                    <li class="nav-item align-self-center active">
                        <a class="nav-link" href="/template/informasi.html">Informasi</a>
                    </li>

                    <li class="nav-item align-self-center active">
                        <a class="btn px-4 btn-primary ml-2 btn-register" href='/template/diagnosis.html' role="button">
                            Diagnosis
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-light" id="hero">
      <div class="container">
        <div id="wrapper">
          <div
            class="col margin-top d-flex justify-content-center flex-column text-center"
          >
            <h1 class="font-weight-normal sub-heading">Jenis-Jenis Padi</h1>
            <p class="font-weight-light">
              Berikut merupakan daftar jenis-jenis padi yang sangat populer di
              indonesia
            </p>
          </div>
        </div>

        <section id="jenis ">
          <div
            id="jenis-row"
            class="row row-cols-1 row-cols-md-3 g-4 mb-4 justify-content-center"
          >
            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/rojolele.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Rojolole</h5>
                  <p class="card-text">
                    Padi Rojolele merupakan varietas padi unggul lokal yang
                    terkenal karena menghasilkan beras pulen, beraroma harum,
                    dan memiliki kualitas nasi yang baik.
                  </p>
                  <a
                    href="/template/detailPadi/rojolele.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/pandan.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">
                    Pandan Wangi
                  </h5>
                  <p class="card-text">
                    Padi Pandan Wangi merupakan varietas padi khas yang terkenal
                    karena menghasilkan beras beraroma wangi alami seperti daun
                    pandan dan memiliki tekstur nasi yang pulen.
                  </p>
                  <a
                    href="/template/detailPadi/pandanWangi.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/mentikwangi.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Mentik Wangi</h5>
                  <p class="card-text">
                    Padi Mentik Wangi merupakan varietas padi aromatik yang
                    menghasilkan beras berukuran kecil, harum alami, dan
                    memiliki rasa nasi yang pulen serta lezat.
                  </p>
                  <a
                    href="/template/detailPadi/mentikWangi.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/mentiksusue.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Mentik Susu</h5>
                  <p class="card-text">
                    Padi Mentik Susu merupakan varietas padi lokal yang
                    menghasilkan beras berwarna putih seperti susu dengan
                    tekstur nasi pulen dan rasa yang gurih.
                  </p>
                  <a
                    href="/template/detailPadi/mentikSusu.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/genjaharum.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Genjah Harum</h5>
                  <p class="card-text">
                    Padi Genjah Harum merupakan varietas padi unggul yang
                    dikenal memiliki masa panen lebih cepat serta menghasilkan
                    beras harum dan pulen.
                  </p>
                  <a
                    href="/template/detailPadi/genjahArum.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/paregropak.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Pare Gropak</h5>
                  <p class="card-text">
                    Padi Pare Gropak merupakan varietas padi lokal yang dikenal
                    memiliki bulir besar, hasil panen melimpah, dan menghasilkan
                    nasi yang pulen.
                  </p>
                  <a
                    href="/template/detailPadi/pareGropak.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/adankrayan.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Adan Krayan</h5>
                  <p class="card-text">
                    Padi Adan Krayan merupakan varietas padi khas dataran tinggi
                    Krayan yang terkenal karena aroma harum, tekstur pulen, dan
                    kualitas beras premium.
                  </p>
                  <a
                    href="/template/detailPadi/adanKrayan.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/siamunus.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Siam Unus</h5>
                  <p class="card-text">
                    Padi Siam Unus merupakan varietas padi lokal yang dikenal
                    adaptif di lahan rawa serta menghasilkan beras dengan
                    tekstur nasi pulen dan rasa yang enak.
                  </p>
                  <a
                    href="/template/detailPadi/siamUnus.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/siam mutiara.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Siam Mutiara</h5>
                  <p class="card-text">
                    Padi Siam Mutiara merupakan varietas padi lokal yang
                    menghasilkan beras berwarna cerah seperti mutiara dengan
                    tekstur nasi pulen dan aroma yang khas.
                  </p>
                  <a
                    href="/template/detailPadi/siamMutiara.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img
                  src="/static/images/fotoJenisPadi/kukubalam.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Kuku Balam</h5>
                  <p class="card-text">
                    Padi Kuku Balam merupakan varietas padi lokal yang dikenal
                    memiliki bentuk bulir khas serta mampu tumbuh baik di lahan
                    tradisional dengan hasil beras yang pulen.
                  </p>
                  <a
                    href="/template/detailPadi/kukuBalam.html"
                    class="btn btn-primary mt-auto"
                    >Lihat Selengkapnya</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <footer class="footer bg-dark pt-4 pb-2 mt-5 text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-6">
            <h5 class="fw-bold mb-3">Tentang</h5>
            <p
              class="text-secondary"
              style="text-align: justify; line-height: 1.6; color: white;"
            >
              Sistem pakar diagnosis penyakit padi membantu petani dalam
              mengidentifikasi penyakit pada tanaman padi berdasarkan gejala
              yang muncul. Sistem ini memberikan hasil diagnosis secara cepat
              beserta saran penanganannya, sehingga petani dapat mengambil
              tindakan yang tepat untuk menjaga kesehatan tanaman dan
              meningkatkan hasil panen.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 offset-lg-1">
            <h5 class="fw-bold mb-3">Link</h5>
            <ul class="list-unstyled" style="color: white;">
              <li class="mb-2">
                <a
                  href="/"
                  class="text-secondary text-decoration-none hover-white"
                  >Home</a
                >
              </li>
              <li class="mb-2">
                <a
                  href="/template/metode.html"
                  class="text-secondary text-decoration-none"
                  >Metode</a
                >
              </li>
              <li class="mb-2">
                <a
                  href="/template/jenisPadi.html"
                  class="text-secondary text-decoration-none"
                  >Jenis Padi</a
                >
              </li>
              <li class="mb-2">
                <a
                  href="/template/informasi.html"
                  class="text-secondary text-decoration-none"
                  >Informasi Penyakit</a
                >
              </li>
              <li class="mb-2">
                <a
                  href="/template/diagnosis.html"
                  class="text-secondary text-decoration-none"
                  >Halaman Diagnosis</a
                >
              </li>
            </ul>
          </div>
        </div>

        <hr class="my-2 border-secondary" />

        <div class="text-center">
          <p class="small text-secondary mb-0">&copy; 2026 Sistem Pakar Padi</p>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
