<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genjah Arum</title>
    <link rel="stylesheet" href="../../static/style/style5.css">
</head>
<body>
    <div class="detail-header">
        <h1>Padi Genjah Arum</h1>
        <p>Padi Kebanggaan Masyarakat Desa Kemiren</p>
    </div>

    <div class="detail-container">
        <div class="specs-grid">
            <div class="spec-card"><h4>Daerah Asal</h4><p>Banyuwangi, Jawa Timur</p></div>
            <div class="spec-card"><h4>Tekstur Nasi</h4><p>Pulen Sedang</p></div>
            <div class="spec-card"><h4>Aroma</h4><p>Harum</p></div>
            <div class="spec-card"><h4>Umur Panen</h4><p>Genjah (Lebih Cepat)</p></div>
        </div>

        <div class="detail-content">
            <h3>Deskripsi Lengkap</h3>
            <p>Dalam istilah pertanian tradisional, kata "Genjah" memiliki arti cepat berbuah atau cepat dipanen, sedangkan "Arum" berarti wangi atau harum. Padi Genjah Arum adalah varietas endemis kebanggaan masyarakat Desa Kemiren, Suku Osing di Banyuwangi, Jawa Timur.</p>
            <br>
            <p>Padi ini memiliki keistimewaan pada umur panennya yang relatif lebih singkat jika dibandingkan dengan varietas padi lokal tradisional lainnya. Selain itu, budaya masyarakat Banyuwangi sangat melekat pada padi ini; proses menumbuk padinya di masa lalu sering kali diiringi dengan tradisi seni musik lesung yang disebut Gedhogan. Nasi yang dihasilkan dari beras Genjah Arum memiliki tekstur pulen yang pas (tidak terlalu lembek) dan aroma harum yang khas, sangat cocok disajikan dengan hidangan khas Jawa Timur.</p>
            
            <a href="../jenisPadi.html" class="btn-back">⬅ Kembali ke Daftar Padi</a>
        </div>
    </div>
</body>
</html>