<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=S, initial-scale=1.0">
    <title>Kuku Balam</title>
    <link rel="stylesheet" href="../../static/style/style5.css">
</head>
<body>
    <div class="detail-header">
        <h1>Padi Kuku Balam</h1>
        <p>Andalan Utama Kuliner Sumatera</p>
    </div>

    <div class="detail-container">
        <div class="specs-grid">
            <div class="spec-card"><h4>Daerah Asal</h4><p>Sumatera Utara & Sumbar</p></div>
            <div class="spec-card"><h4>Tekstur Nasi</h4><p>Pera</p></div>
            <div class="spec-card"><h4>Warna Beras</h4><p>Putih Cerah</p></div>
            <div class="spec-card"><h4>Ciri Fisik</h4><p>Meruncing seperti kuku</p></div>
        </div>

        <div class="detail-content">
            <h3>Deskripsi Lengkap</h3>
            <p>Padi Kuku Balam adalah jenis padi kebanggaan masyarakat di wilayah Pulau Sumatera, khususnya Sumatera Barat, Riau, dan Sumatera Utara. Namanya yang unik diambil karena bentuk fisik berasnya; bentuknya sedikit melengkung dengan ujung yang meruncing, yang oleh masyarakat zaman dahulu disamakan dengan bentuk kuku burung balam (sejenis burung tekukur).</p>
            <br>
            <p>Beras Kuku Balam menghasilkan nasi dengan tekstur pera berkualitas tinggi. Nasi ini adalah "nyawa" dari rumah makan atau restoran masakan Padang dan Minangkabau. Karena teksturnya yang pera, nasi ini tidak akan mudah hancur atau menjadi bubur ketika disiram dengan berbagai macam kuah gulai kental yang kaya akan rempah dan santan, sehingga struktur nasi tetap utuh dan sangat nikmat dikunyah.</p>
            
            <a href="../jenisPadi.html" class="btn-back">⬅ Kembali ke Daftar Padi</a>
        </div>
    </div>
</body>
</html>