<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pare Gropak</title>
    <link rel="stylesheet" href="../../static/style/style5.css">
</head>
<body>
    <div class="detail-header">
        <h1>Padi Pare Gropak</h1>
        <p>Sang Penakluk Lahan Kering</p>
    </div>

    <div class="detail-container">
        <div class="specs-grid">
            <div class="spec-card"><h4>Daerah Asal</h4><p>Kulon Progo, DIY / Jateng</p></div>
            <div class="spec-card"><h4>Tekstur Nasi</h4><p>Sedang (Biasa)</p></div>
            <div class="spec-card"><h4>Keunggulan</h4><p>Tahan Kekeringan</p></div>
            <div class="spec-card"><h4>Lingkungan Tumbuh</h4><p>Lahan Tadah Hujan</p></div>
        </div>

        <div class="detail-content">
            <h3>Deskripsi Lengkap</h3>
            <p>Pare Gropak (dimana "Pare" adalah sebutan lokal nusantara untuk padi) merupakan varietas padi lokal yang telah beradaptasi sangat luar biasa terhadap kondisi lingkungan ekstrem. Padi ini sangat tangguh dan menjadi andalan para petani di daerah lahan tadah hujan yang sering kali minim pasokan air irigasi.</p>
            <br>
            <p>Meskipun tidak memiliki tekstur sepulen Rojolele ataupun seharum Pandan Wangi, Pare Gropak memiliki nilai plus tersendiri. Ketahanannya terhadap kekeringan dan serangan hama lokal membuatnya menjadi fondasi ketahanan pangan di berbagai desa. Selain itu, beras dari Pare Gropak memiliki cita rasa pedesaan yang otentik dan indeks glikemik yang relatif aman, memberikan energi yang tahan lama untuk para pekerja keras di lapangan.</p>
            
            <a href="../jenisPadi.html" class="btn-back">⬅ Kembali ke Daftar Padi</a>
        </div>
    </div>
</body>
</html>