<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siam Unus</title>
    <link rel="stylesheet" href="../../static/style/style5.css">
</head>
<body>
    <div class="detail-header">
        <h1>Padi Siam Unus</h1>
        <p>Primadona Kuliner Khas Banjar</p>
    </div>

    <div class="detail-container">
        <div class="specs-grid">
            <div class="spec-card"><h4>Daerah Asal</h4><p>Kalimantan Selatan</p></div>
            <div class="spec-card"><h4>Tekstur Nasi</h4><p>Pera (Terburai)</p></div>
            <div class="spec-card"><h4>Bentuk Beras</h4><p>Kecil dan Ramping</p></div>
            <div class="spec-card"><h4>Cocok Untuk</h4><p>Hidangan Berkuah</p></div>
        </div>

        <div class="detail-content">
            <h3>Deskripsi Lengkap</h3>
            <p>Bagi masyarakat Kalimantan Selatan, beras pera adalah primadona. Siam Unus adalah salah satu varietas padi lokal Kalimantan Selatan yang menghasilkan beras pera terbaik dengan kualitas unggulan. Berbeda dengan beras di Pulau Jawa yang pulen dan menempel satu sama lain, beras pera memiliki karakter terburai, ringan, dan tidak lengket.</p>
            <br>
            <p>Beras Siam Unus memiliki butiran fisik yang sangat kecil, ramping, dan memanjang. Keajaiban beras ini terjadi ketika dimasak; volumenya bisa mengembang dengan sangat baik. Nasi dengan tekstur pera dari Siam Unus ini adalah komponen yang paling wajib dan sempurna untuk menyajikan masakan tradisional Banjar seperti Soto Banjar, Nasi Kuning, dan juga aneka kreasi Nasi Goreng agar tidak menggumpal.</p>
            
            <a href="../jenisPadi.html" class="btn-back">⬅ Kembali ke Daftar Padi</a>
        </div>
    </div>
</body>
</html>