@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* scroll-behavior: smooth; (iki surya) */
  color: #2F281E; 
}

/* TAMBAHKAN INI: Paksa scrollbar agar layout tidak geser-geser saat load data .iki surya*/
html {
  overflow-y: scroll;
}

.kiri {
  margin: 1%;
  margin-top: auto;
  width: 15%;
  height: auto;
  border-radius: 5px;
  float: left;
  background-color: #f9f7f2; 
}

.kanan {
  margin: 1%;
  margin-top: auto;
  width: 75%;
  height: auto;
  float: left;
}

.teks {
  font-size: medium;
  color: #5d4037; 
}

.nav-link {
  text-align: left;
}

.isi:hover a {
  background-color: #4E9258; 
  color: #ffffff;
}

.heading {
  font-size: 4em;
  color: #2E5A27; 
}

.sub-heading {
  font-size: 3em;
  color: #A67B5B; 
}

.navbar {
  margin-top: 15px;
  background-color: #ffff;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
  position: sticky;

  top: 0px;
  margin-top: 0px;
  z-index: 1000;
}

.col label {
  font-weight: 400;
  color: #5d4037;
}

.btn-register {
  border-radius: 10px;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 400;
}
.btn-primary {
  background: #a5e68d50;
  border: none;
  color: green;
  border-radius: 10px;
}
.btn-primary:hover {
  background: #066d33;
  border: 0px;
}
.btn-success {
  background: #00d25b50;
  border: none;
  color: #00d25b;
  border-radius: 10px;
}




a {
    color: #4E9258;
    text-decoration: none;
}

a:hover {
    color: #F4C430; 
}

@media screen and (max-width: 600px) {
  .navbar {
    margin-left: 0px;
    margin-right: 0px;
  }
  img {
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .btn-primary,
  .btn-secondary,
  .card {
    margin-top: 10px;
    margin-left: 0 !important;
  }
  .navbar {
    margin-left: 0px;
    margin-right: 0px;
  }
}

section .container {
  padding-top: 40px;
}
